<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body { font-family: Arial; background-color: #2f2f2f; color: #99ccff; }
        a { color: #99ccff }
    </style>
</head>
<body>
    <ul>
        <li><a href="/info">/info</a></li>
        <li><a href="/get/all">/get/all</a></li>
        <li><a href="/get/new">/get/new</a></li>
        <li><a href="/get/known">/get/known</a></li>
        <li><a href="/get">/get</a></li>
        <div class="search-box">
            <form method="get" action="/get">
                <input type="text" name="query" value="{{ query or '' }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </ul>
</body>
</html>
